
body {
  margin: 0px;
 font-family: Verdana,Arial,Helvetica,sans-serif;
 background-color: #e6e6e6;
 font-size: 14px;
 background-position: left top;
 background-image: url(../images/bg-spirals.jpg);

}
h1 {
  font-size: 26px;
  text-align: center;
}
p {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 14px;
}
#container {


  width: 960px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;




}

#mainBanner{
  width:100%;
  height: 90px;

}
#banner {
  padding: 40px 0px 0px;
  width: 82%;
  height: 80px;
  clear: both;
  float: right;
  color:white;

  background-color: red;
  font-family: ar delaney;
  text-align: center;
  font-size: 40px;
}

#bannerLogo{
  padding: 40px 0px 0px;
  height: 80px;
  background-color: white;
  font-family: ar delaney;
  text-align: center;
  font-size: 70px;
  background-color: white;
  float: left;
  width:18%;
}

#sidebar {


  padding: 5px;
  background-color: #cccccc;
  width: 160px;
  float: left;
  /*height: 629px;*/

}

#maincontent {
  padding: 20px;
  width: 77.5%;
  float: left;
  position: relative;
  background-color: white;
  /*height: 605px;*/






}
#footer {
  padding: 10px;
  background-color: #333;
  /*color: white;*/
  text-align: center;
  width: 940px;
  height: 40px;
  float: left;
  clear: both;






}
.navbar1 {
  font-family: ar delaney;
  text-align: center;
  font-size: 26px;
}

a:hover {
  color: red;

}
.important {
  font-family: AR DARLING;
  background-color: #ffccc;
}

.sideList {

  margin-top: 10px;
    list-style-type:none;
    margin: 0;
    padding: 0;
    padding: 10px;
    background-color: #d8d8d8;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    color: red;
    font-family: ar delaney;
    border-style:double;



  }

#navList{
  list-style-type: none;
  margin:  0px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding: 10px;
  width: 940px;
  height: 30px;
  clear: both;
  text-align: center;
  font-family: ar delaney;
  font-size: 1.3em;
  text-decoration: none;
  color: red;
  vertical-align: middle;

}

li {
    float: left;
    border: 10x;
    border-color: white;

}

li a {

    display:run-in;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



#searchBar{

  align-self: center;
  color: white;
  float:right;
  text-align: right;
  font-family: ar delaney;


}

#footerText{
  width=50%;
  /*float:left;*/
  text-align: center;
  color:white;
}

#socialMediaIcons{
  width=50%;
  float:right;
  color:white;

}

tr:hover {background-color:red;
  color: white;


}
th {
    height: 50px;
width: 30%;

}



#mainRows {
    height: 50px;
width: 30%;

}





#mainTable{

      width: 100%;
  text-align: left;
   border-bottom: 1px solid #ddd;




}



/*STYLE FOR InsertProduct Page*/
